section {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    color: var(--primary);
    text-align: center;

    h1 {
        font-size: 288px;
        font-weight: 700;
    }

    p {
        font-size: 36px;
        font-weight: 500;
    }

    .homeLink {
        margin: 50px 0;
        color: #000;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;
    }
}


@media screen and (max-width: 576px) {
    section {
        h1 {
            font-size: 96px;
        }
    
        p {
            font-size: 18px;
        }   
    
        .homeLink {
            font-size: 14px;
        }
    }
}