@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* =========== */

:root {
  --primary: #ff6060;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  li {
      list-style-type: none;
  }
}

a {
  color: unset;
  text-decoration: none;
}

main {
  padding: 45px 0;
  margin: auto;
  width: 90%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
